apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: ecommerce
  labels:
    app: redis
    component: cache
type: Opaque
data:
  password: cmVkaXMxMjM=  # echo -n 'redis123' | base64
  