apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: ecommerce
  labels:
    app: elasticsearch
    component: database
spec:
  selector:
    app: elasticsearch
  ports:
  - name: http
    port: 9200
    targetPort: 9200
    protocol: TCP
  - name: transport
    port: 9300
    targetPort: 9300
    protocol: TCP
  type: ClusterIP